body {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  text-align: center;
  background-color: #202020;
  color: #d0d0d0;
  display: flex;
  height: auto;
}
nav h3{
  text-align: center;
  margin-top: 5px;
}
#navbar li {
  padding: 5px 0;
}
#navbar {
  text-align: left;
  position: sticky;
  left: 0;
  top: 0;
  width: 150px;
  height: 100vh;
  align-self: flex-start;
  background-color: #252525;
  padding-top: 10px;
}
#navbar ul {
  list-style: none;
}

#navbar a:link {
  color: white;
  text-decoration: none;
}
#navbar a:visited {
  color: grey;
  text-decoration: none;
}
#navbar a:hover {
  cursor: pointer;
  color: grey;
  text-decoration: none;
}
#navbar a:link {
  color: white;
  text-decoration: none;
}
.main-section p{
  text-align: left;
  text-indent: 15px;
}

main {
  width: 80vw;
  margin: 0 auto;
  padding-left: 10px;
}


.style {
  list-style: number;
  text-align: left;
}

.no-style {
  list-style: none;
  text-align: left;
}

#see-also a:link {
  color: white;
}

/* visited link */
#see-also a:visited {
  color: white;
}

/* mouse over link */
#see-also a:hover {
  color: white;
}

/* selected link */
#see-also a:active {
  color: white;
}
#See_Also {
  text-align: left;
}